<!DOCTYPE html>
<html>
<body>

<h1>About me</h1>
<h2>Ecaterina Carlescu</h2>
<div class = "row">
  <div class = "span6 offset3">
<img src="http://www.facebook.com/photo.php?fbid=531179900242160&set=pb.100000504651056.-2207520000.1353153334&type=3&theater" width="157" height="70" alt="Katy - Daughter0fLove" />
	<p>MINI INTERVIU</p>

1. Unde va vedeti peste 5 ani?</br>
Peste 5 ani ma vad o persoana ocupata, avand un serviciu stabil.</br>
2. Care este cel mai mare vis pe care-l aveti? Care este idealul dumneavoastra in cariera?</br>
Cel mai mare vis ar fi sa conduc o companie de succes.</br>
3. Care este jobul care credeti ca vi s-ar potrivi cel mai bine?</br>
Jobul care mi se potiveste este programator.</br>
4. Descrieti compania ideala in care ati dori sa lucrati?</br>
Compania ideala ar fi un loc unde nu este stres si care este compusa din oameni capabili
si prietenosi.</br>
5. Detaliati personalitatea dumneavoastra ( hobbyuri, aspiratii, ce va motiveaza, stil de
viata si lucru, etc ).</br>
Cred ca e foarte important sa fii implinit din punct de vedere profesional. Trebuie sa crezi
in ceea ce faci si sa-ti doresti cu tot sufletul sa ajungi unde speri si, cu devotament si
multa rabdare, sunt sigura ca voi reusi.</br>
In legatura cu hobbyurile mele as vrea sa amintesc: imi place sa cant la orga, sa citesc
carti, sa joc volei, sa merg in tabere, sa ma plimb in parc cu prietenii.</br>

<a href="http://www.facebook.com/kate19912004">Facebook </a>
</div>
</div>
</body>
</html>
