<!DOCTYPE html>
<html>
<body>

<h3>Send e-mail to Katy:</h3>

<form action="MAILTO:kate19912004@yahoo.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value="your name" onclick="value=''"><br>
E-mail:<br>
<input type="text" name="mail" value="your email" onclick="value=''"><br>
Comment:<br>
<input type="text" name="comment" value="your comment" size="50" onclick="value=''"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>

